
@import "tailwindcss";

body{
  min-height: 100vh;

}
.elm{
  position: absolute;
  left: 60%;
  background-color: rgb(215, 93, 158);
}
.isdragging{

  background-color: rgb(0, 0, 255);
}
.dragged{
  background-color: rgb(255, 145, 0);
}
.handle {
 
  background: #eee;
  padding: 10px;
  width: fit-content;
}
